<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Trivia Quiz</title>
    <link rel="stylesheet" href="/css/activity.css">
</head>
<body>
    <header>
        <h1>Music Trivia Quiz</h1>
    </header>
    <main>
        <div id="quiz-container"></div>
        <div id="result"></div>
    </main>
    <script src="/js/activity.js"></script>
</body>
</html>
